html, body{
    margin:0;
    padding:0;
    min-width: 100%;
    position: initial;
    background-color: #92AC86;
}


.factsMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factsMainHeading {
    height: 103px;
    font-family: sans-serif;
    color: #FAFAFA;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.05em;
    flex: none;
}

    @media screen and (max-width: 950px) {
        .factsMainHeading{
                height: 112px;
                font-size: 72px;
                margin-top: 66px;
                margin-left: auto;
                margin-right: auto;
            }
    }

    @media screen and (max-width: 281px) {
        .factsMainHeading{
        width: 270px;
        height: 112px;
        font-size: 52px;
        margin-top: 66px;
        margin-left: auto;
        margin-right: auto;
    }
    }

.factsSecondaryHeading {
    display: flex;
    color: #FAFAFA;
    justify-content: space-around;
    width: 946px;
    height: 53px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.03em;
    margin-left: 30px;
}
@media screen and (max-width: 950px) {
    .factsSecondaryHeading{
    width: 600px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 66px;
    margin-left: 0px;
}
}

@media screen and (max-width: 550px) {
    .factsSecondaryHeading{
    width: 325px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 66px;
    margin-bottom: 66px;
    margin-left: 0px;
}
}

@media screen and (max-width: 280px) {
    .factsSecondaryHeading{
    width: 270px;
    font-size: 32px;
    line-height: 40px;
    margin-top: 66px;
    margin-bottom: 66px;
    margin-left: 0px;
}
}

.factList {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px;
}

.accordionContainer{
    color: #FAFAFA;
    font-size: 20px;
}

.factItem {
    display: flex;
    width: 275px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: #3e413c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.factItem.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3e413c;
    color: #e6e6e6;
}
.accordionContainer.active{
    font-size: 30px;
    margin-bottom: 20px;
}

.apiText.active{
    font-size: 20px;
}

.additionalInfo{
    display: none;
}

.additionalInfo.active {
    display: block;
  }

.factDesription {
    width: 708px;
    min-height: 65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 950px) {
    .factDesription{
    font-size: 24px;
    width: 650px;
    line-height: 31px;
}
}

@media screen and (max-width: 900px) {
    .factDesription{
    width: 600px;
}
}

@media screen and (max-width: 850px) {
    .factDesription{
    width: 550px;
}
}

@media screen and (max-width: 800px) {
    .factDesription{
    width: 500px;
}
}

@media screen and (max-width: 750px) {
    .factDesription{
    width: 450px;
}
}

@media screen and (max-width: 700px) {
    .factDesription{
    width: 400px;
}
}

@media screen and (max-width: 650px) {
    .factDesription{
    width: 350px;
}
}

@media screen and (max-width: 600px) {
    .factDesription{
    width: 300px;
}
}

@media screen and (max-width: 550px) {
    .factDesription{
    width: 260px;
}
}

@media screen and (max-width: 376px) {
    .factDesription{
    width: 230px;
}
}

@media screen and (max-width: 281px) {
    .factDesription{
    width: 170px;
}
}